<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
    <link rel="icon" href="k.jpeg">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div>
        <div><%- include('./partials/header') %></div>
        <center>
            <div id="contact">
                <h3>Contact us</h3>
                <p>kinfo@gmail.com</p>
                <p>+91 923456799</p>
                <p>+91 923456788</p>
                <p>Rs.Puram,Near post office,Coimbatore-641 664</p>
                <span><i class="fa-brands fa-facebook"></i></span>
                <span><i class="fa-brands fa-instagram"></i></span>
                <span><i class="fa-brands fa-twitter"></i></span>
                <span><i class="fa-brands fa-google"></i></span>
                <span><i class="fa-brands fa-skype"></i></span>
            </div>
        </center>
        <div id="myfoot"><%- include('./partials/footer') %></div>
    </div>
</body>

</html>