<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
    <link rel="icon" href="k.jpeg">

    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div>
        <div><%- include('./partials/header') %></div>
        <div id="mydiv">
            <div id="div1">
                <video src="02418b400d15bb352e7e8790fcaf74ad.mp4" autoplay muted loop height="90%" width="90%"></video>
            </div>
            <div id="div2">
                <h1>Welcome to K info tech</h1>
            <p>K info tech is a leading IT – ITES service. This k info Tech launched in rs.puram, Tamilnadu state
                ,Started initially with 15 members and now it’s extended to two branches with 150+ members and
                successfully and progressively in its 9th year.
            </p>
            <p>

                We offers a wide spectrum of high quality, time bound & cost effective IT enabled services to
                organizations globally through its offshore facilities available in India. Our relentless efforts
                supported by a strong management with a combined experience in various industries have helped us evolve
                into a leading multidisciplinary outsourcing service provider with a global presence.
            </p>
        </div>
        </div>
        <div id="myfoot"><%- include('./partials/footer') %></div>
    </div>
</body>

</html>