<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
    <link rel="icon" href="k.jpeg">    
    <link rel="stylesheet" href="service.css">
</head>

<body>
    <div><%- include('./partials/header') %></div>
    <div id="con">
        
        <div id="ser">
            <h1>Services</h1>
            <ul>
                <li class="item">Web Development</li>
                <li class="item">App Development</li>
                <li class="item">Graphics Design</li>
                <li class="item">E-comerse Website</li>
                <li class="item">Degital marketing</li>
            </ul>
        </div>
        <div id="myfoot"><%- include('./partials/footer') %></div>
    </div>
</body>

</html>