<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
    <link rel="icon" href="k.jpeg">
    <link rel="stylesheet" href="apply.css">
</head>
<body>
    <center>
    <div id="sus">
        <h1>Submitted sucessfully!!</h1>
        <h4>Thnak you For Submiting. Our HR requiter Will Contact you soon.</h4>
    </div>
    </center>
</body>
</html>